.moviescard {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	gap: 14px;
	align-items: center;
}

.moviescard__img {
	width: 100%;
	border-radius: 3px;
	object-fit: contain;
	object-position: center;
}

.moviescard__description {
	max-width: 100%;
	margin: 0;
	display: flex;
	gap: 30px;
	justify-content: center;
}

.moviescard__title {
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin: 0;
	padding: 0;
	max-width: 250px;
}

.moviescard__timelaps {
	width: 52px;
	border-radius: 3px;
	background: #f9f9f9;
	color: #a0a0a0;
	text-align: center;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 10px;
	margin: 0;
	padding: 3px 4px;
	align-self: center;
}

.moviescard__save-btn {
	all: unset;
	margin: 0;
	text-align: center;
	font-family: inherit;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: 9px;
	background-color: #f9f9f9;
	padding: 6px 7px;
	border-radius: 30px;
	position: absolute;
	top: 14px;
	right: 14px;
}

.moviescard__save-btn_off {
	display: none;
}

.moviescard__pic-container {
	position: relative;
}

.moviescard__saved-btn {
	content: "";
	all: unset;
	position: absolute;
	top: 14px;
	right: 14px;
	background-image: url("../../images/saved_btn_pink.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 21px;
	width: 21px;
	height: 21px;
}

.moviescard__saved-btn_off {
	display: none;
}

@media screen and (max-width: 1023px) {
	.moviescard__description {
		gap: 37px;
	}

	.moviescard__title {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media screen and (max-width: 767px) {
	.moviescard__title {
		max-width: 240px;
	}

	.moviescard__pic-container {
		width: 100%;
	}

	.moviescard__description {
		/* gap: 8px; */
		width: 100%;
		gap: none;
		justify-content: space-between;
	}

	.moviescard {
		gap: 16px;
	}

	.moviescard__img {
		width: 100%;
	}

	.moviescard {
		width: 100%;
	}
}
