.portfolio {
	margin: 0 auto;
	width: calc(100% - 70px * 2);
	padding: 0 0 125px 0;
}
.portfolio__title {
	font-weight: 400;
	color: #a0a0a0;
	margin: 0;
	margin-bottom: 50px;
}

.portfolio__link-item {
	all: unset;
	content: "";
	font-family: Inter;
	margin: 0;
	padding: 0;
	width: 30px;
	color: #000;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 60px;
}

.portfolio__link {
	all: unset;
	font-family: Inter;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px;
	margin: 0;
	padding: 0;
}

.portfolio__item {
	all: unset;
	color: black;
	font-family: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
