.promo {
	background-color: #f3c1f8;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background-image: url(../../images/promo_back.svg);
	background-size: 320px;
	background-repeat: no-repeat;
	object-fit: contain;
	background-position: center;
	padding-top: 184px;
	padding-bottom: 224px;
}

.promo__title {
	max-width: 730px;
	margin: 0 auto;
}

@media screen and (max-width: 1023px) {
	.promo {
		padding: 326px 0 342px 0;
	}
}
