.header {
	margin: 0 auto;
	display: flex;
	width: calc(100% - 70px * 2);
	justify-content: space-between;
	background-color: transparent;
}

.header_promo {
	background: #f3c1f8;
	padding: 0 70px;
}

.header__info-container {
	display: flex;
	gap: 50px;
}

.logo {
	width: 38px;
	height: 38px;
	margin: 18px 0;
	object-fit: contain;
	object-position: center;
}

.header__profile {
	margin: 21px 0;
	display: flex;
	align-items: center;
	gap: 13px;
	justify-content: space-between;
}

.header__profile-pic {
	width: 30px;
	height: 30px;
	margin: 0;
	background-image: url(../../images/user__icon.svg);
	background-size: 10px 10px;
	object-fit: contain;
	background-repeat: no-repeat;
	background-position: center;

	border-radius: 6px;
	background-color: #f9f9f9;
}

.header__profile-pic_promo {
	background-image: url(../../images/user__icon_promo.svg);
	background-color: #000;
}

.header__profile-text {
	color: #000;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
}
