.about-project {
	margin: 0 auto;
	width: 100%;
	padding: 70px 0 110px 0;
}

.about-project__info {
	margin: 0 auto;
	display: flex;
	gap: 40px;
	justify-content: space-between;
	padding-top: 70px;
}

.about-project__info-item {
	display: flex;
	gap: 26px;
	flex-direction: column;
}

.title_s {
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0;
	padding: 0;
}

.title_m {
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0;
	padding: 0;
}

.text_m {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	margin: 0;
	padding: 0;
}

.border {
	color: black;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 1px solid black;
}

.border_about-project {
	margin-top: 23px;
}

.about-project__line {
	margin: 110px auto 0 auto;
	display: flex;
	justify-content: center;
	width: 100%;
}

.about-project__backend-line {
	width: 40%;
	background-color: black;
	padding: 9px 14px;
	text-align: center;
	color: white;
}

.about-project__frontend-line {
	width: 60%;
	background-color: #f2f2f2;
	padding: 9px 356px;
	text-align: center;
}
