.techs {
	width: calc(100% - 70px * 2);
	background-color: #f5f5f5;
	margin: 0;
	padding: 100px 70px;
}

.techs__about {
	margin-top: 90px;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	gap: 26px;
	text-align: center;
	align-items: center;
}

.techs__item {
	background-color: #e8e8e8;
	width: 90px;
	padding: 22px 0;
	text-align: center;
	border-radius: 10px;
}

.techs__subtitle {
	max-width: 460px;
}

.techs__stack {
	display: flex;
	gap: 10px;
	justify-content: center;
}
